In [8]:
import pandas as pd
import numpy as np
from enum import Enum
from datetime import datetime

In [9]:
class Site(str, Enum):
  # Stations
  sandton = "Sandton"
  hatfield = "Hatfield"
  rosebank = "Rosebank"
  midrand = "Midrand"

  # Parking
  sandton_park = "SandtonPark"
  hatfield_park = "HatfieldPark"
  rosebank_park = "RosebankPark"

  # Bus
  bus_point = "BusPoint"

In [15]:
csv_file = "travel_history.csv"

In [16]:
df = pd.read_csv(csv_file, header="infer", dtype={
  "Sequence Number": np.int32,
  "Transaction Date": "datetime64",
  "Site": str,
  "Transaction Type": str,
  "Remaining Trips": np.int32,
  "Transaction Value": "float64",
  "PAYG Balance": np.float64,
})

df["Site"]

0     Hatfield
1     Hatfield
2     Rosebank
3     BusPoint
4     Hatfield
5      Sandton
6      Sandton
7     Hatfield
8     Hatfield
9     Hatfield
10     Sandton
11     Sandton
12    Hatfield
13    Hatfield
Name: Site, dtype: object

In [17]:
filtered_df = df[(df["Site"] != "BusPoint") & (df["Site"] != "HatfieldPark") & (df["Transaction Value"] < 0)]
filtered_df

,Sequence Number,Transaction Date,Site,Transaction Type,Remaining Trips,Transaction Value,PAYG Balance
0,163,2023-11-13 18:13,Hatfield,CSC Fare Product checkout,0,-93.0,418.0
4,159,2023-11-09 18:52,Hatfield,CSC Fare Product checkout,0,-53.0,523.0
5,158,2023-11-09 18:12,Sandton,CSC Fare Product checkin,0,-34.0,576.0
6,157,2023-11-09 07:22,Sandton,CSC Fare Product checkout,0,-53.0,610.0
7,156,2023-11-09 06:43,Hatfield,CSC Fare Product checkin,0,-34.0,663.0
9,154,2023-10-26 15:33,Hatfield,CSC Fare Product checkout,0,-36.0,497.0
10,153,2023-10-26 14:49,Sandton,CSC Fare Product checkin,0,-34.0,533.0
11,152,2023-10-26 07:13,Sandton,CSC Fare Product checkout,0,-53.0,567.0
12,151,2023-10-26 06:26,Hatfield,CSC Fare Product checkin,0,-34.0,620.0

In [18]:
checkouts = df[df["Transaction Type"] == "CSC Fare Product checkout"]
checkouts
num_trips = len(checkouts)

In [19]:
total = abs(sum(filtered_df["Transaction Value"]))
"R{0:.2f} - {1} trips".format(total, num_trips)

'R424.00 - 5 trips'