In [9]:
import pandas as pd
import numpy as np
from enum import Enum
from datetime import datetime

In [10]:
class Site(str, Enum):
  # Stations
  sandton = "Sandton"
  hatfield = "Hatfield"
  rosebank = "Rosebank"
  midrand = "Midrand"

  # Parking
  sandton_park = "SandtonPark"
  hatfield_park = "HatfieldPark"
  rosebank_park = "RosebankPark"

  # Bus
  bus_point = "BusPoint"

In [11]:
csv_file = "travel_history-2024_01.csv"

In [12]:
df = pd.read_csv(csv_file, header="infer", dtype={
  "Sequence Number": np.int32,
  "Transaction Date": "datetime64",
  "Site": str,
  "Transaction Type": str,
  "Remaining Trips": np.int32,
  "Transaction Value": "float64",
  "PAYG Balance": np.float64,
})

df["Site"]

0     HatfieldPark
1         Hatfield
2          Sandton
3          Sandton
4         Hatfield
5         Hatfield
6     HatfieldPark
7     HatfieldPark
8     HatfieldPark
9         Hatfield
10        Hatfield
11         Sandton
12         Sandton
13        Hatfield
14        BusPoint
15        BusPoint
16       Centurion
17        Hatfield
18    HatfieldPark
19        Hatfield
20         Sandton
21         Sandton
22        Hatfield
23    HatfieldPark
Name: Site, dtype: object

In [13]:
filtered_df = df[(df["Site"] != "BusPoint") & (df["Site"] != "HatfieldPark") & (df["Transaction Value"] < 0)]
filtered_df

,Sequence Number,Transaction Date,Site,Transaction Type,Remaining Trips,Transaction Value,PAYG Balance
1,185,2024-01-23 15:12,Hatfield,CSC Fare Product checkout,0,-36.0,730.0
2,184,2024-01-23 14:36,Sandton,CSC Fare Product checkin,0,-34.0,766.0
3,183,2024-01-23 07:43,Sandton,CSC Fare Product checkout,0,-53.0,800.0
4,182,2024-01-23 06:55,Hatfield,CSC Fare Product checkin,0,-34.0,853.0
10,177,2024-01-11 15:52,Hatfield,CSC Fare Product checkout,0,-53.0,9.0
11,176,2024-01-11 15:06,Sandton,CSC Fare Product checkin,0,-34.0,62.0
12,175,2024-01-11 07:32,Sandton,CSC Fare Product checkout,0,-53.0,96.0
13,174,2024-01-11 06:47,Hatfield,CSC Fare Product checkin,0,-34.0,149.0
16,171,2023-12-01 06:39,Centurion,CSC Fare Product checkout,0,-10.0,195.0
17,170,2023-12-01 06:18,Hatfield,CSC Fare Product checkin,0,-34.0,205.0
19,168,2023-11-30 15:32,Hatfield,CSC Fare Product checkout,0,-36.0,261.0
20,167,2023-11-30 14:51,Sandton,CSC Fare Product checkin,0,-34.0,297.0
21,166,2023-11-30 07:32,Sandton,CSC Fare Product checkout,0,-53.0,331.0
22,165,2023-11-30 06:49,Hatfield,CSC Fare Product checkin,0,-34.0,384.0

In [14]:
checkouts = df[df["Transaction Type"] == "CSC Fare Product checkout"]
checkouts
num_trips = len(checkouts)

In [15]:
total = abs(sum(filtered_df["Transaction Value"]))
"R{0:.2f} - {1} trips".format(total, num_trips)

'R532.00 - 7 trips'